<FORM action="/colors" method="post">
  <P>
    <INPUT type="text" name="name" placeholder="Name of color"><BR>
    <INPUT type="text" name="characteristic" placeholder="Characteristic of color"><BR>
    <INPUT type="text" name="rating_1_to_5" placeholder="How much do you like the color? (1-5)"><BR>
    <INPUT type="submit" value="Create Color">
  </P>
</FORM>